# Ignore the node_modules directory
/Project_05 Word Counter


# Ignore any built TypeScript files (JavaScript output)
/dist

# Ignore editor/IDE-specific files and directories
.vscode 
.idea
.DS_Store